extends layout/_layout.pug

block contents
  include object/project/p-main-visual
  include object/project/p-problem
  include object/project/p-strengths
  include object/project/p-report
  include object/project/p-conversion
  include object/project/p-plan
  include object/project/p-form